# Database
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=userdb
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public"

# Server
PORT=3000
JWT_SECRET=your-secret-key-with-minimum-32-chars
NODE_ENV=development